# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Streamlit settings
.streamlit/

# Temporary or test files
coba_*.py
copy_*.py
test_*.py
main.py

# Credentials or tokens
token.pickle

# Streamlit secrets
secrets.toml
client_secrets.json